streamlit==1.35.0
pandas==2.2.2
scikit-learn==1.4.0
gTTS==2.5.1
SpeechRecognition==3.10.1
sounddevice==0.4.6  # Alternative to PyAudio
python-dotenv==1.0.1
requests==2.32.3
numpy==1.26.4
joblib==1.4.2
